:root{
    --background-color: #add8e6;
}
body {
    color: #424646;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
}
/* start topbar */
.header.shop {
    background: #fff;
}
.header.shop .topbar {
    background-color: #fff;
    border: none;
    padding: 12px 0px;
}
.header.shop .top-left .list-main li:first-child {
    padding-left: 0;
}
.header.shop .list-main li {
    display: inline-block;
    color: #333;
    font-size: 13px;
    font-weight: 500;
    border-right: 1px solid #f0f0f0;
    padding: 0px 13px;
}
.header.shop .list-main li:last-child {
    padding-right: 0;
    border: none;
}
.header.shop .list-main li a {
    color: #333;
}
.header.shop .top-left .list-main li i {
    display: inline-block;
    margin-right: 1px;
    font-size: 15px;
    color: var(--background-color);
    position: relative;
    top: 2px;
}
.header.shop .right-content {
    float: right;
}
.header.shop .list-main li i {
    display: inline-block;
    margin-right: 1px;
    font-size: 15px;
    color: var(--background-color);
    position: relative;
    top: 1px;
}
/* end topbar */

/* start middle-inner */
.header.shop .middle-inner {
    padding: 20px 0;
    background: rgb(255, 255, 255);
    border-top: 1px solid #eee;
}
.header.shop .logo {
    float: left;
    margin: 19px 0 0;
}
.header .logo {
    float: left;
    margin-top: 35px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.header.shop .search-top {
    opacity: 1;
    visibility: visible;
    top: 0;
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
}
.header .search-top {
    display: none;
}
.header .search-top a {
    font-size: 17px;
}
.header .search-form {
    position: absolute;
    left: -128px;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    top: 46px;
    background: #ffffff75;
    padding: 7px;
    border-radius: 5px;
    transform: scaleY(0);
    box-shadow: 0px 4px 7px #0000003b;
    padding: 0;
    border-radius: 0;
}
.header .search-form input {
    width: 220px;
    height: 45px;
    line-height: 45px;
    padding: 0 60px 0 15px;
    transition: all 0.4s ease;
    border: none;
    background: #fff;
    color: #333;
    border-radius: 0;
}
.header .search-form button {
    position: absolute;
    right: 0;
    height: 45px;
    top: 0;
    width: 45px;
    background: transparent;
    border: none;
    border-radius: 0;
    border-left: 1px solid #eee;
    font-size: 15px;
    color: #333;
    transition: all 0.4s ease;
}
.header.shop .search-bar {
    width: 535px;
    height: 50px;
    display: inline-block;
    background: #fff;
    position: relative;
    margin: 0;
    line-height: 45px;
    border-radius: 5px;
    border: 1px solid #ececec;
}
.header.shop .search-bar-top {
    text-align: center;
    margin-top: 10px;
}
.header.shop .mobile-nav .slicknav_menu a i {
    display: none;
    font-size: 28px;
    color: #add8e6;
}
.header.shop .nice-select {
    clear: initial;
    margin: 0;
    height: 48px;
    width: 150px;
    border: none;
    text-align: center;
    background: transparent;
    text-transform: capitalize;
    padding: 0 0 0 20px;
    border-right: 1px solid #eee;
    line-height: 50px;
    font-size: 14px;
    font-weight: 400;
}
.shop .nice-select {
    clear: inherit;
    display: inline-block;
    margin: 0;
    border: 1px solid #e6e6e6;
    border-radius: 0px;
    height: auto;
    width: auto;
    border-radius: 0px;
}
.nice-select {
    -webkit-tap-highlight-color: transparent;
    background-color: #fff;
    border-radius: 5px;
    border: solid 1px #e8e8e8;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    float: left;
    font-family: inherit;
    font-size: 15px;
    font-weight: normal;
    height: 42px;
    line-height: 27px;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    transition: all 0.2s ease-in-out;
    user-select: none;
    white-space: nowrap;
    width: auto;
    margin-bottom: 16px;
}
.shop .nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1) translateY(0);
}
.header.shop .nice-select .list {
    border-radius: 0px;
}
.nice-select .list {
    background: #fff;
    box-sizing: 0 0 0 1px rgba(68, 68, 68, 0.11);
    box-sizing: border-box;
    margin-top: 4px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    transform-origin: 50% 0;
    transform: scale(0.75) translateY(-21px);
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9;
} 
.header.shop .nice-select .list li.focus {
    font-weight: 400;
}
.header.shop .nice-select .list li {
    color: #666;
    border-radius: 0px;
    font-size: 14px;
    font-weight: 400;
}
.nice-select .option {
    cursor: pointer;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    transition: all 0.2s;
}
.header.shop .nice-select::after {
    border-color: #666;
    right: 20px;
}
.nice-select:after {
    border-bottom: 2px solid #999;
    border-right: 2px solid #999;
    content: '';
    display: block;
    height: 8px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform-origin: 66% 66%;
    transform: rotate(45deg);
    transition: all 0.15s ease-in-out;
    width: 8px;
}
.header.shop .search-bar form {
    display: inline-block;
    float: left;
    width: 260px;
}
.header.shop .search-bar input {
    height: 48px;
    background: transparent;
    color: #666;
    border-radius: 0;
    border: none;
    font-size: 14px;
    font-weight: 400;
    padding: 0 25px 0 20px;
    width: 328px;
}
.header.shop .search-bar .btnn {
    height: 50px;
    line-height: 53px;
    width: 62px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    background: #333333;
    position: absolute;
    right: -2px;
    top: -1px;
    border: none;
    border-radius: 0 5px 5px 0;
    transition: all 0.4s ease;
}
.header.shop .right-bar {
    display: inline-block;
    padding: 0;
    margin: 0;
    top: 20px;
    float: right;
    position: relative;
}
.header.shop .right-bar .sinlge-bar {
    display: inline-block;
    margin-right: 25px;
}
.header.shop .right-bar .sinlge-bar .single-icon {
    color: #333;
    font-size: 20px;
    position: relative;
}
.header.shop .right-bar .sinlge-bar .single-icon .total-count {
    position: absolute;
    top: -7px;
    right: -8px;
    background: #add8e6;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    color: #fff;
    border-radius: 100%;
    font-size: 11px;
}
.header.shop .right-bar .sinlge-bar:last-child {
    margin-right: 0px;
}
.header .shopping .shopping-item {
    position: absolute;
    top: 68px;
    right: 0;
    width: 300px;
    background: #fff;
    padding: 20px 25px;
    transition: all 0.3s ease 0s;
    transform: translateY(10px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    z-index: 99;
}
.header .shopping:hover .shopping-item{
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
}
.header .shopping .dropdown-cart-header {
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e6e6e6;
}
.header .shopping .dropdown-cart-header span {
    text-transform: uppercase;
    color: #222;
    font-size: 13px;
    font-weight: 600;
}
.header .shopping .dropdown-cart-header a {
    float: right;
    text-transform: uppercase;
    color: #222;
    font-size: 13px;
    font-weight: 600;
}
.header .shopping-list li {
    overflow: hidden;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 15px;
    margin-bottom: 15px;
    position: relative;
}
.header .shopping-list li .remove {
    position: absolute;
    left: 0;
    bottom: 16px;
    margin-top: -20px;
    height: 20px;
    width: 20px;
    line-height: 18px;
    text-align: center;
    background: #fff;
    color: #222;
    border-radius: 0;
    font-size: 11px;
    border: 1px solid #ededed;
}
.header .shopping-list .cart-img {
    float: right;
    border: 1px solid #ededed;
    overflow: hidden;
}
.header .shopping-list .cart-img img {
    width: 70px;
    height: 70px;
    border-radius: 0;
}
.header .shopping-list h4 {
    font-size: 14px;
}
.header .shopping-list h4 a {
    font-weight: 600;
    font-size: 13px;
    color: #333;
}
.header .shopping-list .quantity {
    line-height: 22px;
    font-size: 13px;
    padding-bottom: 30px;
}
.header .shopping-item .bottom {
    text-align: center;
}
.header .shopping-item .total {
    overflow: hidden;
    display: block;
    padding-bottom: 10px;
}
.header .shopping-item .total span {
    text-transform: uppercase;
    color: #222;
    font-size: 13px;
    font-weight: 600;
    float: left;
}
.header .shopping-item .total .total-amount {
    float: right;
    font-size: 14px;
}
.header .shopping-item .bottom .btn {
    background: #222;
    padding: 10px 20px;
    display: block;
    color: #fff;
    margin-top: 10px;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}
.btn {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    background: #333;
    display: inline-block;
    transition: all 0.4s ease;
    z-index: 5;
    padding: 13px 32px;
    border-radius: 0px;
    text-transform: uppercase;
}
.header.shop .right-bar .sinlge-bar .sinlge-icon {
    color: #333;
    font-size: 20px;
    position: relative;
}
/* end middle-inner */
/* start header-inner */
.header.shop .header-inner {
    background: #333;
}
.header .header-inner {
    width: 100%;
    z-index: 999;
}
.header.shop .all-category {
    color: #fff;
    background: transparent;
    position: relative;
    background: #add8e6;
}
.header.shop .all-category h3 {
    padding: 20px 25px;
}
.header.shop .cat-heading {
    font-size: 20px;
    color: #fff;
}
.header.shop .cat-heading i {
    color: #fff;
    display: inline-block;
    margin-right: 15px;
    font-size: 22px;
}
.header.shop .main-category {
    position: absolute;
    left: 0;
    top: 64px;
    background: #fff;
    z-index: 1;
    width: 100%;
    box-shadow: 0px 5px 15px #0000000a;
}
.header.shop .main-category li {
    display: block;
    border-bottom: 1px solid #f6f6f6;
    position: relative;
}
.header.shop .main-category li a {
    font-size: 14px;
    font-weight: 400;
    color: #333;
    text-transform: capitalize;
    padding: 13px 25px 13px 25px;
    display: block;
}
.header.shop .sub-category {
    background: #fff;
    width: 220px;
    position: absolute;
    left: 238px;
    top: 0;
    z-index: 999999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
    border-left: 3px solid #add8e6;
    box-shadow: 0px 5px 15px #0000000a;
}
.header .navbar {
    padding: 0;
}
.navbar-expand-lg .navbar-collapse {
    display: block !important;
}
.header.shop .nav-inner {
    margin: 0;
    float: left;
}
.header.shop .nav li {
    margin-right: 5px;
    position: relative;
    float: none;
}
.header.shop .nav li a {
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    padding: 20px 15px;
    font-weight: 500;
    display: block;
    position: relative;
    transition: all 0.4s ease;
}
.header.shop .nav li.active a {
    color: #fff;
    background: #add8e6;
}
/* end header-inner */
