:root{
    --background-color: #add8e6;
}
body {
    color: #424646;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: left;
}
/* start topbar */
.header.shop {
    background: #fff;
}
.header.shop .topbar {
    background-color: #fff;
    border: none;
    padding: 12px 0px;
}
.header.shop .top-left .list-main li:first-child {
    padding-left: 0;
}
.header.shop .list-main li {
    display: inline-block;
    color: #333;
    font-size: 13px;
    font-weight: 500;
    border-right: 1px solid #f0f0f0;
    padding: 0px 13px;
}
.header.shop .list-main li:last-child {
    padding-right: 0;
    border: none;
}
.header.shop .list-main li a {
    color: #333;
}
.header.shop .top-left .list-main li i {
    display: inline-block;
    margin-right: 1px;
    font-size: 15px;
    color: var(--background-color);
    position: relative;
    top: 2px;
}
.header.shop .right-content {
    float: right;
}
.header.shop .list-main li i {
    display: inline-block;
    margin-right: 1px;
    font-size: 15px;
    color: var(--background-color);
    position: relative;
    top: 1px;
}
/* end topbar */

/* start middle-inner */
.header.shop .middle-inner {
    padding: 20px 0;
    background: #fff;
    border-top: 1px solid #eee;
    box-sizing: inherit;
}
.header.shop .logo {
    font-size: 20px;
    float: left;
    margin: 19px 0 0;
}
.header .logo {
    float: left;
    margin-top: 35px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.header.shop .search-top {
    opacity: 1;
    visibility: visible;
    top: 0;
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
}
.header .search-top {
    display: none;
}
.header .search-top a {
    font-size: 17px;
}
.header .search-top.active .search-form {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}
.header .search-form {
    position: absolute;
    left: -128px;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    top: 46px;
    background: #ffffff75;
    padding: 7px;
    border-radius: 5px;
    transform: scaleY(0);
    box-shadow: 0px 4px 7px #0000003b;
    padding: 0;
    border-radius: 0;
}
.header .search-form input {
    width: 220px;
    height: 45px;
    line-height: 45px;
    padding: 0 60px 0 15px;
    transition: all 0.4s ease;
    border: none;
    background: #fff;
    color: #333;
    border-radius: 0;
}
.header .search-form button {
    position: absolute;
    right: 0;
    height: 45px;
    top: 0;
    width: 45px;
    background: transparent;
    border: none;
    border-radius: 0;
    border-left: 1px solid #eee;
    font-size: 15px;
    color: #333;
    transition: all 0.4s ease;
}
.header.shop .search-bar {
    width: 535px;
    height: 50px;
    display: inline-block;
    background: #fff;
    position: relative;
    margin: 0;
    line-height: 45px;
    border-radius: 5px;
    border: 1px solid #ececec;
}
.header.shop .search-bar-top {
    text-align: center;
    margin-top: 10px;
}
.header.shop .mobile-nav {
    display: none;
}
.header.shop .mobile-nav .slicknav_menu a i {
    display: none;
    font-size: 28px;
    color: #add8e6;
}
.header.shop .nice-select {
    clear: initial;
    margin: 0;
    height: 48px;
    width: 150px;
    border: none;
    text-align: center;
    background: transparent;
    text-transform: capitalize;
    padding: 0 0 0 20px;
    border-right: 1px solid #eee;
    line-height: 50px;
    font-size: 14px;
    font-weight: 400;
}
.shop .nice-select {
    clear: inherit;
    display: inline-block;
    margin: 0;
    border: 1px solid #e6e6e6;
    border-radius: 0px;
    height: auto;
    width: auto;
    border-radius: 0px;
}
.nice-select {
    -webkit-tap-highlight-color: transparent;
    background-color: #fff;
    border-radius: 5px;
    border: solid 1px #e8e8e8;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    float: left;
    font-family: inherit;
    font-size: 15px;
    font-weight: normal;
    height: 42px;
    line-height: 27px;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    transition: all 0.2s ease-in-out;
    user-select: none;
    white-space: nowrap;
    width: auto;
    margin-bottom: 16px;
}
.shop .nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1) translateY(0);
}
.header.shop .nice-select .list {
    border-radius: 0px;
}
.nice-select .list.active {
    opacity: 1;
    overflow: visible;
    transform: translateY(-21px);
}
.nice-select .list {
    background: #fff;
    box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
    box-sizing: border-box;
    margin-top: 25px;
    /* margin-left: -19px; */
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    transform-origin: 50% 0;
    transform: scale(1) translateY(-30px);
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9;
} 
.header.shop .nice-select .list li.focus {
    font-weight: 400;
}
.header.shop .nice-select .list li {
    color: #666;
    border-radius: 0px;
    font-size: 14px;
    font-weight: 400;
}
.nice-select .option {
    cursor: pointer;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding-left: 17px;
    padding-right: 47px;
    text-align: left;
    transition: all 0.2s;
}
.header.shop .nice-select::after {
    border-color: #666;
    right: 20px;
}
.nice-select.active:after {
    transform: rotate(-135deg);
}
.nice-select:after {
    border-bottom: 2px solid #999;
    border-right: 2px solid #999;
    content: '';
    display: block;
    height: 8px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform-origin: 66% 66%;
    transform: rotate(45deg);
    transition: all 0.15s ease-in-out;
    width: 8px;
}
.header.shop .search-bar form {
    display: inline-block;
    float: left;
    width: 260px;
}
.header.shop .search-bar input {
    height: 48px;
    background: transparent;
    color: #666;
    border-radius: 0;
    border: none;
    font-size: 14px;
    font-weight: 400;
    padding: 0 25px 0 20px;
    width: 328px;
}
.header.shop .search-bar .btnn {
    height: 50px;
    line-height: 53px;
    width: 62px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    background: #333333;
    position: absolute;
    right: -2px;
    top: -1px;
    border: none;
    border-radius: 0 5px 5px 0;
    transition: all 0.4s ease;
}
.header.shop .right-bar {
    display: inline-block;
    padding: 0;
    margin: 0;
    top: 20px;
    float: right;
    position: relative;
}
.header.shop .right-bar .sinlge-bar {
    display: inline-block;
    margin-right: 25px;
}
.header.shop .right-bar .sinlge-bar .single-icon {
    color: #333;
    font-size: 20px;
    position: relative;
}
.header.shop .right-bar .sinlge-bar .single-icon .total-count {
    position: absolute;
    top: -7px;
    right: -8px;
    background: #add8e6;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    color: #fff;
    border-radius: 100%;
    font-size: 11px;
}
.header.shop .right-bar .sinlge-bar:last-child {
    margin-right: 0px;
}
.header .shopping .shopping-item {
    position: absolute;
    top: 68px;
    right: 0;
    width: 300px;
    background: #fff;
    padding: 20px 25px;
    transition: all 0.3s ease 0s;
    transform: translateY(10px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    z-index: 99;
}
.header .shopping:hover .shopping-item{
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
}
.header .shopping .dropdown-cart-header {
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e6e6e6;
}
.header .shopping .dropdown-cart-header span {
    text-transform: uppercase;
    color: #222;
    font-size: 13px;
    font-weight: 600;
}
.header .shopping .dropdown-cart-header a {
    float: right;
    text-transform: uppercase;
    color: #222;
    font-size: 13px;
    font-weight: 600;
}
.header .shopping-list li {
    overflow: hidden;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 15px;
    margin-bottom: 15px;
    position: relative;
}
.header .shopping-list li .remove {
    position: absolute;
    left: 0;
    bottom: 16px;
    margin-top: -20px;
    height: 20px;
    width: 20px;
    line-height: 18px;
    text-align: center;
    background: #fff;
    color: #222;
    border-radius: 0;
    font-size: 11px;
    border: 1px solid #ededed;
}
.header .shopping-list .cart-img {
    float: right;
    border: 1px solid #ededed;
    overflow: hidden;
}
.header .shopping-list .cart-img img {
    width: 70px;
    height: 70px;
    border-radius: 0;
}
.header .shopping-list h4 {
    font-size: 14px;
}
.header .shopping-list h4 a {
    font-weight: 600;
    font-size: 13px;
    color: #333;
}
.header .shopping-list .quantity {
    line-height: 22px;
    font-size: 13px;
    padding-bottom: 30px;
}
.header .shopping-item .bottom {
    text-align: center;
}
.header .shopping-item .total {
    overflow: hidden;
    display: block;
    padding-bottom: 10px;
}
.header .shopping-item .total span {
    text-transform: uppercase;
    color: #222;
    font-size: 13px;
    font-weight: 600;
    float: left;
}
.header .shopping-item .total .total-amount {
    float: right;
    font-size: 14px;
}
.header .shopping-item .bottom .btn {
    background: #222;
    padding: 10px 20px;
    display: block;
    color: #fff;
    margin-top: 10px;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}
.btn {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    background: #333;
    display: inline-block;
    transition: all 0.4s ease;
    z-index: 5;
    padding: 13px 32px;
    border-radius: 0px;
    text-transform: uppercase;
}
.header.shop .right-bar .sinlge-bar .sinlge-icon {
    color: #333;
    font-size: 20px;
    position: relative;
}
/* end middle-inner */

/* start header-inner */
.header.shop .header-inner {
    background: #333;
}
.header .header-inner {
    width: 100%;
    z-index: 999;
}
.header.shop .all-category {
    color: #fff;
    background: transparent;
    position: absolute;
    background: #add8e6;
    box-sizing: inherit;
}
.header.shop .all-category h3 {
    padding: 20px 25px;
}
.header.shop .cat-heading {
    font-size: 20px;
    color: #fff;
}
.header.shop .cat-heading i {
    color: #fff;
    display: inline-block;
    margin-right: 15px;
    font-size: 22px;
}
.header.shop .main-category {
    position: absolute;
    left: 0;
    top: 64px;
    background: #fff;
    z-index: 1;
    width: 100%;
    box-shadow: 0px 5px 15px #0000000a;
}
.header.shop .main-category li {
    display: block;
    border-bottom: 1px solid #f6f6f6;
    position: relative;
}
.header.shop .main-category li a {
    font-size: 14px;
    font-weight: 400;
    color: #333;
    text-transform: capitalize;
    padding: 13px 25px 13px 25px;
    display: block;
}
.header.shop .main-category li a i {
    display: inline-block;
    float: right;
}
.header.shop .sub-category {
    background: #fff;
    width: 220px;
    position: absolute;
    left: 220px;
    top: 0;
    z-index: 999999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
    border-left: 3px solid #add8e6;
    box-shadow: 0px 5px 15px #0000000a;
}
.header .navbar {
    padding: 0;
}
.navbar-expand-lg .navbar-collapse {
    display: block !important;
}
.header.shop .nav-inner {
    margin: 0;
    float: left;
}
.header.shop .nav li {
    margin-right: 5px;
    position: relative;
    float: none;
}
.header.shop .nav li a {
    color: #fff;
    text-transform: capitalize;
    font-size: 15px;
    padding: 20px 15px;
    font-weight: 500;
    display: block;
    position: relative;
    transition: all 0.4s ease;
}
.header.shop .nav li.active a {
    color: #fff;
    background: #add8e6;
}
/* end header-inner */
/* start hero-slider */
.hero-slider {
    background: #fff;
    overflow: hidden;
}
.hero-slider .single-slider {
    background-image: url('../imgs/images/slider01.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 510px;
}
.hero-slider .hero-text {
    padding: 0 30px;
    margin-top: 100px;
    box-sizing: inherit;
}
.hero-slider .hero-text h1 {
    line-height: 50px;
    font-size: 47px;
    font-weight: 700;
    color: #add8e6;
    margin-bottom: 20px;
}
.hero-slider .hero-text p {
    color: #333;
    margin-bottom: 35px;
}
.hero-slider .hero-text .button {
    margin: 0;
    box-sizing: inherit;
}
.hero-slider .hero-text .btn {
    color: #fff;
    background: #333;
    padding: 13px 30px;
    line-height: initial;
    border: none;
    height: auto;
    z-index: 0;
}
/* end hero-slider */
/* start small-banner */
.small-banner {
    padding: 30px 0;
    padding-bottom: 0;
}
.small-banner .single-banner {
    overflow: hidden;
    position: relative;
}
.small-banner .single-banner img {
    height: 100%;
    width: 100%;
    transition: all 0.4s ease;
}
.small-banner .single-banner .content {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 35px;
}
.small-banner .single-banner P {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    text-transform: capitalize;
}
.small-banner .single-banner h3 {
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize;
    color: #333;
}
.small-banner .single-banner a {
    color: #333;
    margin-top: 22px;
    font-size: 12px;
    font-weight: 500;
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 2px solid #333;
}
/* end small-banner */
/* start product area */
.product-area .nav-tabs {
    text-align: center;
    display: inline-block;
    width: 100%;
    border: none;
}
.product-area .nav-tabs .nav-item {
    margin-bottom: -1px;
    display: inline-block;
}
.product-area .nav-tabs li a {
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    margin-right: 5px;
    font-weight: 500;
    padding: 3px 14px;
    border-radius: 3px;
    font-size: 13px;
    color: #333;
}
.product-area .nav-tabs li a.active ,
.product-area .nav-tabs li:hover a {
    background: #add8e6 ;
    color: #fff;
    border-color: transparent;
}
.single-product {
    margin-top: 50px;
}
.single-product .product-img {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.single-product .product-img a {
    display: block;
    position: relative;
}
.single-product .product-img a img {
    width: 100%;
}
.single-product .product-content {
    margin-top: 20px;
}
.single-product .product-content h3 {
    line-height: 22px;
}
.single-product .product-content h3 a {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}
.single-product .product-content .product-price {
    margin: 6px 0 0 0;
}
.single-product .product-content .product-price span {
    font-size: 15px;
    font-weight: 500;
}
.single-product:hover .button-head {
    bottom: 0;
}
.single-product .button-head {
    background: #fff;
    display: inline-block;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 9;
    height: 50px;
    line-height: 50px;
    transition: all 0.4s ease;
}
.single-product .product-img .product-action {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 99;
    border-radius: 3px;
}
.single-product .product-img .product-action a {
    background-color: transparent;
    color: #333;
    font-size: 16px;
    display: inline-block;
    margin-right: 15px;
    text-align: right;
    height: 52px;
    position: relative;
    top: 2px;
}
.single-product .product-img .product-action a i {
    line-height: 40px;
}
.single-product .product-img .product-action a span {
    visibility: hidden;
    position: absolute;
    color: #fff in !important;
    text-align: center;
    padding: 5px 12px;
    z-index: 3;
    opacity: 0;
    transition: opacity .6s, margin .3s;
    font-size: 11px;
    right: 0;
    line-height: 14px;
    top: -5px;
    margin-right: 0;
    display: inline-block;
    width: 120px;
    border-radius: 15px 0 0 15px;
}
/* end product area */

/* start most popualr */

#customers-testmonials .item{
    text-align: center;
    padding: 0px;
    margin-bottom: 20px;
    opacity: 0.2;
    -webkit-transform: scale3d(0.8,0.8.1);
    transform: scale3d(0.8,0.8,1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#customers-testmonials .owl-item.center .item{
    opacity: 1;
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0px, 0px, 0px);
    box-sizing: inherit;
}
.owl-carousel .owl-stage {
    position: relative;
    box-sizing: inherit;
}
.owl-carousel .owl-item {
    width: 395px;
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    box-sizing: inherit;
}
.owl-carousel .item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    box-sizing: inherit;
    padding: 0  ;
}
.most-popular .single-product,
.item .single-product {
    margin: 50px 15px 0 15px;
    padding: 0 10px ;
}
.single-product .product-img {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.single-product .product-img a {
    display: block;
    position: relative;
}
.single-product .product-img a img {
    width: 100%;
    transform-style: preserve-3d;
}
.single-product .product-img a span.out-of-stock {
    background-color: #ed1b24;
    display: inline-block;
    font-size: 11px;
    color: #fff;
    right: 20px;
    top: 20px;
    padding: 1px 16px;
    font-weight: 700;
    text-align: center;
    position: absolute;
    text-transform: uppercase;
    border: 30px;
    height: 26px;
    line-height: 24px;
}
.single-product .button-head {
    background: #fff;
    display: inline-block;
    height: 50px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -50px;
    line-height: 50px;
    transition: all 0.4s ease;
}
.single-product .product-content {
    margin-top: 20px;
}
.single-product .product-content .product-price {
    margin: 6px 0 0 0;
}
.single-product .product-content .product-price span {
    font-size: 15px;
    font-weight: 500;
}
.single-product .product-content .product-price span.old {
    text-decoration: line-through;
    opacity: .6;
    margin-right: 2px;
}

.owl-carousel .owl-nav [class*=owl-] {
    display: none;
}
.owl-carousel .owl-dots {
    display: none;
}

/* end most popualr */

/* start about us */
.about-us .about-content {
    padding-right: 50px;
    box-sizing: inherit;
}
.about-us .about-content h3 {
    font-size: 30px;
    font-weight: 800;
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.about-us .about-content h3 img {
    width:195px ;
}
.about-us .about-content h3::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: -1px;
    height: 2px;
    width: 60px;
    background: #add8e6;
}
.about-us .about-content p {
    line-height: 26px;
    margin-bottom: 10px;
    color: #757575;
    margin: 0;
}
.about-us .about-content .button {
    margin-top: 40px;
}
.about-us .about-content .button .btn {
    color: #fff;
    margin-right: 15px;
    margin-bottom: 15px;
}
.about-us .about-content .button .btn.primary {
    background: #add8e6;
    
}
.about-us .about-img {
    position: relative;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border: 10px solid #fff;
}
/* end about us */
/* satrt contact us */
.contact-us {
    position: relative;
    z-index: 43;
}
.contact-us .form-main {
    box-shadow: 0px 0px 15px #0000001a;
    padding: 50px;
}
.contact-us .title {
    margin-bottom: 30px;
}
.contact-us .title h4 {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #add8e6;
}
.contact-us .title h3 {
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 600;
}
.contact-us .form .form-group label {
    color: #333;
    position: relative;
}
.contact-us .form .form-group input {
    height: 48px;
    line-height: 48px;
    width: 100%;
    border: 1px solid #e6e2f5;
    padding: 0px 20px;
    color: #333;
    border-radius: 0px;
    font-weight: 400;
}
.contact-us .form .form-group textarea {
    height: 180px;
    width: 100%;
    border: 1px solid #e6e2f5;
    padding: 15px 20px;
    color: #333;
    border-radius: 0px;
    resize: none;
    font-weight: 400;
}
.contact-us .form .button .btn {
    height: 50px;
    border: none;
}
.contact-us .single-head {
    padding: 50px;
    box-shadow: 0px 0px 15px #0000001a;
    height: 100%;
}
.contact-us .single-info {
    text-align: left;
    margin-bottom: 30px;
}
.contact-us .single-info i {
    color: #fff;
    font-size: 18px;
    display: inline-block;
    margin-bottom: 15px;
    height: 40px;
    width: 40px;
    display: block;
    text-align: center;
    border-radius: 3px;
    line-height: 40px;
    background: #add8e6;
}
.contact-us .single-info .title {
    margin-bottom: 10px;
    font-weight: 500;
    color: #333;
    font-size: 18px;
}
/* end contact us */

/* start footer */
.footer{
    background: #222;
    box-sizing: inherit;
}
.footer .about {
    padding-right: 50px;
}
.footer .about .logo {
    margin-bottom: 14px;
}
.footer .about .logo img {
    max-width: 60%;
}
.footer .about .text {
    color: #fff;
    font-weight: 400;
}
.footer .about .call {
    color: #fff;
    margin-top: 15px;
    font-weight: 400;
}
.footer .about .call span {
    display: block;
}
.footer .about .call a {
    color: #add8e6;
    font-size: 20px;
    font-weight: 600;
}
.footer .single-footer h4 {
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.footer .links ul li {
    display: block;
    margin-bottom: 8px;
}
.footer .links ul li a {
    color: #fff;
    font-weight: 400;
}
.footer .social ul {
    margin-top: 20px;
}
.footer .social .contact ul li {
    color: #fff;
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
}
.footer .social ul {
    margin-top: 20px;
}
.footer .social ul li {
    display: inline-block;
    margin-right: 25px;
}
.footer .social ul li a {
    color: #fff;
    display: block;
    font-size: 16px;
}
/* end footer */