* {
    padding: 0;
    margin: 0;
}
*, *:before, *:afrer {
    box-sizing: inherit;
}
body, button, input, select, optgroup, textarea {
    color: #424646;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
button, input, select, optgroup, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.container {
    max-width: 1170px;
}
ul,ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}
img, a, input, h1, h2, h3, h4, h5, h6 {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
a, button, input {
    font-weight: 400;
}
a {
    text-decoration: none;
}
a {
    color: inherit;
}
a:visited {
    color: inherit;
}
img {
    height: auto;
    max-width: 100%;
    border: 0;
}
select {
    border: 1px solid #ccc;
}
button, select {
    text-transform: none;
}
ul, ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}
p {
    color: #757575;
    margin: 0;
    line-height: 24px;
}