* {
    padding: 0;
    margin: 0;
}
*, *:before, *:afrer {
    box-sizing: inherit;
}
html {
    font-family: 'Poppins', sans-serif;
    text-size-adjust: 100%;
}
body, button, input, select, optgroup, textarea {
    color: #424646;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
button, input, select, optgroup, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.container {
    max-width: 1170px;
}
ul,ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}
img, a, input, h1, h2, h3, h4, h5, h6 {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
a, button, input {
    font-weight: 400;
}
a , a:hover {
    text-decoration: none;
}
a {
    color: inherit;
}
a:visited {
    color: inherit;
}
img {
    height: auto;
    max-width: 100%;
    border: 0;
}
select {
    border: 1px solid #ccc;
}
button, select {
    text-transform: none;
}
ul, ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}
p {
    color: #757575;
    margin: 0;
    line-height: 24px;
}
/* *, *:before, *:after {
    box-sizing: inherit;
} */
.middle-inner .right-bar i{
    box-sizing: inherit;
    font-size: 18px;
}
.slicknav_menu:after,
.slicknav_menu:before {
    clear: both;
}
.slicknav_menu .slicknav_menutxt {
    display: block;
    line-height: 1.188em;
    float: left;
    color: #fff;
    font-weight: 700;
    box-sizing: border-box;
}
.slicknav_menu, .slicknav_menu * {
    box-sizing: border-box;
}
.slicknav_menu .slicknav_no-text {
    margin: 0;
}
.slicknav_menu:after, .slicknav_menu:before {
    content: " ";
    display: table;
}
.slicknav_menu .slicknav_icon {
    float: left;
    width: 1.125em;
    height: 0.875em;
    margin: 0.188em 0 0 0.438em;
}
.slicknav_menu .slicknav_icon:before {
    background: 0 0;
    width: 1.125em;
    height: 0.875em;
    display: block;
    content: "";
    position: absolute;
}
.slicknav_nav {
    font-size: .875em;
}
.slicknav_nav , .slicknav_nav ul {
    list-style: none;
    overflow: hidden;
    padding: 0;
}

