@media only screen and (min-width:768px) and (max-width:991px) {
    
    /* start topbar */
    .header.shop .topbar .top-left {
        text-align: center;
    }
    .header.shop .topbar .right-content {
        text-align: center;
        float: none;
        margin-top: 8px;
    }
    /* end topbar */
    
    /* start middle-inner */
    .header.shop .search-bar {
        width: 445px;
        height: 45px;
    }
    .header.shop .nice-select {
        height: 44px;
        line-height: 44px;
        font-size: 13px;
    }
    .header.shop .nice-select .list li {
        font-size: 13px;
    }
    .header.shop .search-bar input {
        padding: 0 52px 0 20px;
        width: 264px;
        height: auto;
        font-size: 13px;
    }
    .header.shop .search-bar .btnn {
        height: 45px;
        line-height: 45px;
        font-size: 14px;
    }
    .header.shop .all-category {
        display: none;
    }
    .navbar-nav {
        display: inline-block !important;
    }
    .header.shop .nav li {
        display: inline-block;
        margin-right: 2px;
    }
    .header.shop .mobile-nav .slicknav_menu a i {
        font-size: 35px;
        display: block;
        float: right;
        top: -50px;
        left: -30px;
        position: absolute;
    }

    /* end middle-inner */

    /* start hero-slider */
    /* end hero-slider */

/* start small-banner */

    .small-banner .single-banner {
        margin-bottom: 18px;
    }
    .small-banner .single-banner.tab-height {
        height: 300px;
    }
/* end small-banner */
/* start product area */
    .section-title h2 {
        font-size: 26px;
        margin-bottom: 20px;
    }
/* end product area */
.about-us .about-content .button .btn {
    margin-bottom: 45px;
}
 /* start footer */
    .footer .about .logo img {
        max-width: 60%;
    }
/* end footer */
}

@media only screen and (max-width:767px) {
    .logo img {
        max-width: 40%;
    }
    /* start topbar */
    .header.shop .topbar .top-left {
        text-align: center;
    }
    .header.shop .topbar .right-content {
        text-align: center;
        float: none;
        margin-top: 8px;
    }
    /* end topbar */

     /* start middle inner */
     .header .middle-inner {
        width: 100%;
    }
    .header.shop .logo {
        margin: 0;
    }
    .header.shop .search-top {
        display: block;
        position: absolute;
        right: 50px;
        top: 4px;
    }
    .header.shop .mobile-nav {
        display: block;
        background: transparent;
        padding: 0;
    }
    .header.shop .mobile-nav .slicknav_menu a i {
        font-size: 35px;
        display: block;
        float: right;
        top: -34px;
        left: -30px;
        position: absolute;
    }
    .slicknav_menu {
        display: block;
        background: transparent;
        padding: 0;
        /* transform: translateY(-100px); */
        /* transition: all 2.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out; */
    }
    .slicknav_btn {
        background: transparent;
        padding: 0;
        margin: 6px 0 0;
       
    }
    .slicknav_menu .slicknav_icon-bar {
        background: #add8e6;
        display: block;
        width: 25px;
        height: 3px;
        border-radius: 1px;
        box-shadow: 0 1px 0 rgba(0, 0, 0, .25);
        text-shadow: none;
    }
    .slicknav_nav {
        transition: all 0.4s ease;
        background: red;
        margin-left: 0px;
        /* clear: both; */
        color: #fff;
        /* display: none; */
        /* opacity: 1; */
        /* overflow: visible; */
        pointer-events: none;
        transform-origin: 50% 0;
        /* transform: scaleY(1) translateY(0px); */
        /* margin-top: -100px; */
        z-index: 500;
        /* transition: all 1.5s ease; */
    }
    .slicknav_nav.slicknav_hidden {
        transition: all 0.4s ease;
        /* transform: scaleY(0) translateY(-20px); */
        /* opacity: 0; */
        /* overflow: hidden; */
        /* position: relative; */
        height: 0px;
    }
    .slicknav_nav ul {
        
    }
    .slicknav_nav li,
    .slicknav_nav ul {
        display: block;
        padding: 3px 0;
    }

    .slicknav_nav li a {
        margin: 0;
        color: #333;
        background: transparent;
        overflow: hidden;
    }
    .slicknav_nav .slicknav_row,
    .slicknav_nav a {
        padding: 6px 0;
        font-weight: 400;
        font-size: 14px;
    }
    .header.shop .search-bar-top {
        display: none;
    }
    .header.shop .right-bar {
        display: none;
    }
    /* end middle inner */
    
    /* start header inner */
    .header.shop .header-inner {
        display: none;
    }
    /* end header inner */

    /* start hero-slider */
    .hero-slider {
        height: 350px;
    }
    .hero-slider .hero-text {
        margin-top: 60px;
    }
    .hero-slider .hero-text h1 {
        font-size: 30px;
        margin-bottom: 0px;
    }
    .hero-slider .hero-text p {
        color: #333;
        margin-bottom: 28px;
    }
    .hero-slider .hero-text .btn {
        padding: 10px 25px;
    }
    /* end hero-slider */

/* start small-banner */

    .small-banner .single-banner {
        margin-bottom: 18px;
    }
/* end small-banner */
/* start product area */
    .section {
        padding: 50px 0;
    }
    .section-title {
        margin-bottom: 30px;
        padding: 0px 20px;
    }
    .section-title h2 {
        font-size: 22px;
        margin-bottom: 20px;
    }
    .product-area .nav-tabs .nav-item {
        margin-bottom: 10px;
    }
    .single-product{
        margin-top: 30px;
    }
/* end product area */
.about-us .about-content .button .btn {
    margin-bottom: 45px;
}
/* start footer */
    .footer .about .logo img {
        max-width: 60%;
    }
/* end footer */
    
}
@media only screen and (max-width:450px){
    /* start topbar */
    .header.shop .topbar .top-left {
        text-align: center;
    }
    .header.shop .topbar .right-content {
        margin-top: 0px;
        border-top: 1px solid #ffffff87;
        text-align: center;
        float: none;
    }
    
    .header.shop .list-main li {
        border: none;
        padding: 0;
        display: block;
        padding: 5px 0;
        border-bottom: 1px solid #eee;
        text-align: left;
        color: #333;
    }
    /* end topbar */

    /* start middle inner */
    /* end middle inner */

/* start small-banner */

    .small-banner .single-banner .content{
        padding: 12px 10px 10px 35px;
    }
    .small-banner .single-banner p {
        font-size: 13px;
    }
    .small-banner .single-banner h3 {
        font-size: 17px;
    }
    .small-banner .single-banner a {
        margin-top: 15px;
        font-size: 11px;
    }
    
/* end small-banner */

/* start product area */
    .section {
        padding: 50px 0;
    }
    .section-title {
        margin-bottom: 30px;
        padding: 0px 20px;
    }
    .section-title h2 {
        font-size: 22px;
        margin-bottom: 20px;
    }
    .product-area .nav-tabs .nav-item {
        margin-bottom: 10px;
    }
/* end product area */
    .about-us .about-content .button .btn {
        margin-bottom: 15px;
    }
    .about-us .about-content .button .btn.primary {
        margin-bottom: 42px;
    }
 /* start footer */
    .footer .about .logo img {
        max-width: 60%;
    }
/* end footer */

}
