/* start blog */
.blog-single {
    background: #fff;
    padding: 70px 0 100px;
}
.shop-blog.grid .shop-single-blog {
    margin-top: 30px;
    text-align: center;
}
.shop-blog .shop-single-blog img {
    height: 100%;
    width: 100%;
}
.shop-blog .shop-single-blog .content {
    padding: 40px;
}
.shop-blog .shop-single-blog .content .date {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
    color: #b7b7b7;
}
.shop-blog .shop-single-blog .content .title {
    font-size: 17px;
    font-weight: 600;
    color: #333;
}
.shop-blog .shop-single-blog .content .more-btn {
    font-size: 14px;
    font-weight: 400;
    color: #3c3c3c;
    margin-top: 10px;
    display: block;
}
.pagination {
    margin: 50px 0 0 0;
    display: block;
}
.pagination.center {
    text-align: center;
}
.pagination .pagination-list li {
    margin-right: 5px;
    display: inline-block;
}
.pagination .pagination-list li a {
    background: #f6f7fb;
    color: #666;
    padding: 6px 18px;
    font-weight: 400;
    border: 1px solid #e1e1e1;
    font-size: 16px;
    border-radius: 0px;
}
.pagination .pagination-list li.active a {
    color: #fff;
    border-color: transparent;
    background: #add8e6;
}
/* end blog */


@media only screen and (min-width:768px) and (max-width:991px) {
    
    /* satrt contact us */
/* end contact us */
    
    
    }
@media only screen and (max-width:767px){
    
    /* satrt contact us */
/* end contact us */
}
    
@media only screen and (max-width:450px){
    /* satrt contact us */
/* end contact us */
}
    