/* start footer */
.footer{
    background: #222;
    box-sizing: inherit;
}
.footer .about {
    padding-right: 50px;
}
.footer .about .logo {
    margin-bottom: 14px;
}
.footer .about .logo img {
    max-width: 60%;
}
.footer .about .text {
    color: #fff;
    font-weight: 400;
}
.footer .about .call {
    color: #fff;
    margin-top: 15px;
    font-weight: 400;
}
.footer .about .call span {
    display: block;
}
.footer .about .call a {
    color: #add8e6;
    font-size: 20px;
    font-weight: 600;
}
.footer .single-footer h4 {
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.footer .links ul li {
    display: block;
    margin-bottom: 8px;
}
.footer .links ul li a {
    color: #fff;
    font-weight: 400;
}
.footer .social ul {
    margin-top: 20px;
}
.footer .social .contact ul li {
    color: #fff;
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
}
.footer .social ul {
    margin-top: 20px;
}
.footer .social ul li {
    display: inline-block;
    margin-right: 25px;
}
.footer .social ul li a {
    color: #fff;
    display: block;
    font-size: 16px;
}
/* end footer */

@media only screen and (min-width:768px) and (max-width:991px) {
    /* start footer */
    .footer .about .logo img {
        max-width: 60%;
    }
    /* end footer */
    
    
    
    }
    @media only screen and (max-width:767px){
    /* start footer */
    .footer .about .logo img {
        max-width: 60%;
    }
    /* end footer */
    
    }
    
    @media only screen and (max-width:450px){
    /* start footer */
    .footer .about .logo img {
        max-width: 60%;
    }
    /* end footer */
    
    
    }
    